<div>
     <br><br>
    <input type="text" [(ngModel)]="inputBoxVal"> type here<br><br>
    <button (click)="principleModLoad()">Priciple</button>
    <button (click)="getApi()">GET API</button><br><br>
    <button (click)="deleteApi()"> Delete</button><br><br>
    <button routerLink="/PrincipleMod/parent">Parent comoponet</button>
    <button (click)="subjectModule()">Subject Module</button>
<br>
<div *ngFor="let data of principalData">
    {{data.userName}}
</div>
<br><br>
    <div>
        {{name | uppercase}} <br>
        {{name | lowercase}} <br>
        {{ date | date}}<br>
        {{ date | date : 'fullDate'}}<br>
        {{ date | date : 'shortDate'}}<br>
    </div>

<button routerLink="/table">Table</button>
</div>
