<div class="temp-form-container">
    <br>
    <h2 *ngIf="showLoginForm"> Login Form</h2><br>
    <form #loginForm="ngForm" autocomplete="off" *ngIf="showLoginForm">
        <div>
            <label> UserName</label>
        </div>
        <div>
            <input type="text" #userName="ngModel" ngModel name="userName" required pattern="[a-zA-Z ]*$">
        </div>
        <span class="error" *ngIf="userName.touched && userName.errors?.['required']">
            UserName is required
        </span>
        <span class="error" *ngIf="userName.touched && userName.dirty
             && userName.errors?.['pattern']">
            Please Enter Alphabets Only
        </span>
        <br>
        <div>
            <label> Password</label>
        </div>
        <div>
            <input ngModel #password="ngModel" type="text" name="password" required
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d|\W).{8,}$">
        </div>
        <span class="error" *ngIf="password.touched && password.errors?.['required']">
            password is required</span><br>
        <span class="error" *ngIf="password.touched && password.errors?.['pattern']">
            Please match Password formate</span><br>
    
        <div>
            <button class="sbt-btn" (click)="submit(loginForm.value)">Submit</button>
        </div><br>
        <button class="for-pass" class="sbt-btn" (click)="forgetPassword()"> Forget password </button>
    
    </form><br>

    <form *ngIf="!showLoginForm" #forgetPasswordForm="ngForm">

        New Password <br>

        <input type="text" #newPassword="ngModel" ngModel name="newPassWord" required 
        
        (blur)="newPasswordFiledValue(newPassword.value);newPasswordMatch()"><br>
        
        <span class="error" *ngIf="newPassword.touched && newPassword.errors?.['required']">
            Please enter new password
        </span><br>

        Confirm Password <br> 

        <input type="text" #conPassword ="ngModel" ngModel name="confirmPassword" 
         required (blur)="passwordMatch(conPassword.value)">
         <br>

         <span *ngIf="isMatch" class="error">New password and confirm password should match</span>
        
         <br><br>
         
        <div>
            <button class="sbt-btn" (click)="submit(forgetPasswordForm.value)" [disabled]="!forgetPasswordForm.valid">Submit</button>
        </div>

    </form>

    <br><br><br>
</div>