.cls1 {
    background-color: aqua;
    font-size: 30px;
}

.cls2 {
    background-color: rgb(30, 255, 0);
    font-size: 30px;
}

.cls3 {
    background-color: rgb(255, 68, 0);
    font-size: 30px;
}

.ngcls2 {
    color: rgb(155, 152, 251);
}

.ngcls1 {
    color: palegreen;
}