.err{
    color: red;
}
.mob-inp{
    width: 30px;
}
.p-viewer {
    position: relative;
    left: -24px;
    font-size: 20px;
}
.container{
    margin: auto;
    border: 1px solid black;
    width: 400px;
}